div[data-urmt-enabled] label[data-urmt-selected-answer] div.ud-toggle-input-block-outline {
    border: 2px solid #a435f0;
    box-shadow: #a435f0 0px 7px 7px -7px;
}
div[data-urmt-enabled] label[data-urmt-correct] {
    background: transparent;
}

div[data-urmt-enabled] label[data-urmt-incorrect] {
    background: transparent;
}

div[data-urmt-enabled] label[data-urmt-label] {
    cursor: pointer;
}
div[data-urmt-enabled] span[class^="mc-quiz-question--correct"] {
    display: none;
}

div[data-urmt-enabled] span[class*=" mc-quiz-question--correct"] {
    display: none;
}

div[data-urmt-enabled] span[class^="mc-quiz-question--incorrect"] {
    display: none;
}

div[data-urmt-enabled] span[class*=" mc-quiz-question--incorrect"] {
    display: none;
}

div[data-urmt-enabled] div[class^="mc-quiz-question--skipped"] {
    display: none;
}

div[data-urmt-enabled] div[class*=" mc-quiz-question--skipped"] {
    display: none;
}
div[data-urmt-enabled] div[class^="mc-quiz-answer--correctness"] {
    display: none;
}

div[data-urmt-enabled] div[class*=" mc-quiz-answer--correctness"] {
    display: none;
}
div[data-urmt-enabled] div[class^="detailed-result-panel--top-row"] {
    display: none;
}

div[data-urmt-enabled] div[class*=" detailed-result-panel--top-row"] {
    display: none;
}
div[data-urmt-enabled] form[data-urmt-expanded='false']  div[class^="mc-quiz-question--explanation"] {
    display: none;
}
div[data-urmt-enabled] form[data-urmt-expanded='true']  div[class^="mc-quiz-question--explanation"] {
    display: block;
}
div[data-urmt-enabled] form[data-urmt-expanded='false']  div[class*=" mc-quiz-question--explanation"] {
    display: none;
}
div[data-urmt-enabled] form[data-urmt-expanded='true']  div[class*=" mc-quiz-question--explanation"] {
    display: block;
}
div[data-urmt-enabled] form[data-urmt-expanded='false'] button:before {
    content: 'Show answer';
}
div[data-urmt-enabled] form[data-urmt-expanded='true'] button:before {
    content: 'Hide answer';
}

div[data-urmt-enabled] form[data-urmt-expanded='true'] label[data-urmt-selected-answer]:not([data-urmt-correct]) {
    background-color: rgba(255, 0, 0, 0.5);
}

div[data-urmt-enabled] form[data-urmt-expanded='true'] label[data-urmt-correct] {
    background-color: rgba(60, 179, 113, 0.5);
}

div[data-urmt-enabled] form[data-urmt-expanded='true'][data-urmt-is-correct='true']:first-child {
    content: 'Correct';
}

div[data-urmt-enabled] .ud-real-toggle-input~.ud-fake-toggle-radio-large {
    background: none;
    box-shadow: none;
}
div[data-urmt-enabled] label[data-urmt-selected-answer]  .ud-real-toggle-input~.ud-fake-toggle-radio-large {
    background: #a435f0;
    box-shadow: 0 0 0 0.4rem var(--color-white) inset;
}
div[data-urmt-enabled] .ud-real-toggle-input~.ud-fake-toggle-checkbox {
    background: none;
    color: transparent;
}
div[data-urmt-enabled] label[data-urmt-selected-answer]  .ud-real-toggle-input~.ud-fake-toggle-checkbox {
    background: #a435f0;
    color: var(--color-white);
}